<div id="preload-images" style="display:none; position:fixed; top: -9999; left: -9999">
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png"/>
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_focus_web.png"/>
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_pressed_web.png"/>
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_disabled_web.png"/>

    <img src="/static/images/signin_with_linkedin-buttons/Non-Retina/Sign-in-Large---Default.png"/>
    <img src="/static/images/signin_with_linkedin-buttons/Non-Retina/Sign-in-Large---Hover.png"/>
    <img src="/static/images/signin_with_linkedin-buttons/Non-Retina/Sign-in-Large---Active.png"/>

</div>
