<div id="preload-images">
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png"/>
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_focus_web.png"/>
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_pressed_web.png"/>
    <img src="/static/images/google_signin_buttons/web/1x/btn_google_signin_dark_disabled_web.png"/>
</div>
