<div>
    Hi {{formatUserName user}}, <br/>
    You have requested to reset your password. Place click the button below to create a new password: <br/>
    <a href="{{link}}" class="btn btn-primary roostLink">Reset Password</a>
</div>

{{>footer-html}}
