
$bootstrap-sass-asset-helper: true;
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "./../../../../scss/sass-resources.scss";
@import "./../../../../scss/mixins";
@import "./../../../../scss/variables";
@import "./../../../../scss/bootstrap-custom/custom";

@import "footer";
@import "roostLink";

* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
