# Enforce Unix newlines
*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.less  text eol=lf
*.md    text eol=lf
*.svg   text eol=lf
*.yml   text eol=lf
# Dont diff or textually merge source maps
*.map   binary

bootstrap-theme.css linguist-vendored=false
bootstrap.css linguist-vendored=false
bootstrap.js linguist-vendored=false

# archive ignore files
build export-ignore
db export-ignore
logs export-ignore
src export-ignore
lambda export-ignore
parse-server export-ignore
.nginx export-ignore
.eslintrc export-ignore
.parse.project export-ignore
_gh_pages export-ignore
_site export-ignore
.ruby-version export-ignore
*.diff export-ignore
.editorconfig export-ignore
.parse.local export-ignore
README.md export-ignore
gulpfile.babel.js export-ignore
webpack.config.babel.js export-ignore
build-paths.js export-ignore
bower_components export-ignore
node_modules export-ignore
oneroost.zip export-ignore
.DS_Store export-ignore
.idea export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.project export-ignore
.settings export-ignore
*.iml export-ignore
.tags* export-ignore
