$backgroundColor: $sidebarBg;
$activeTextColor: $activeColor;
$sidebarWidthPx: 275px;
#accountSidebarContainer{

}

#accountSidebar{
    background-color: $backgroundColor;
    color: $secondaryColor;
    padding: 0px 10px 0px 10px;
    font-family: AlrightSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-right: $borderWeightThick solid $borderColorThick;
    display:flex;
    flex-direction: column;
    flex: 1;
    min-width: 15em;
    order: -1;
    .AddAccountButton{
        text-align: center;
        padding: 10px 0px 30px 00px;
    }
}

.AccountSidebarList.bg-inherit{
    .AccountSidebarItem{
        $activeBackgroundColor: $largeClickableBg;
        background-color: inherit;
        a{
            color: $secondaryColor;
        }
    }
}

.AccountSidebarList{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    flex-grow: 0;
    overflow-y: auto;
    .AccountSidebarItem{
        $activeBackgroundColor: $largeClickableBg;
        background-color: $backgroundColor;
        a{
            color: $secondaryColor;
        }
    }
    .UserHomeListItem{
        &:first-of-type{
            border-top: 0px;
        }
        border-top: $borderThin;
    }
    .AccountSidebarItem, .UserHomeListItem{
        $activeBackgroundColor: $largeClickableBg;
        $darkenPct: 10%;
        $hoverTextColor: $activeColor;


        font-weight: 400;
        a{
            padding: 10px 5px 10px 5px;
            text-decoration: none;
            display: block;
            background-color: inherit;
            color: $mainColor;

        }
        &:hover a{
            color: $hoverTextColor;
        }
        &:first-child{
            border-top: 0px solid black;
        }
        &.active a{
            // background: $activeBackgroundColor;
            color: $activeColor;
            // border-top: $borderThick;
            // border-bottom: $borderThick;
            border-right: 4px solid $activeColor;
            &:hover{

            }
        }
        .dealName, .accountName{
            display:block;
        }
        .dealName{
            @extend .lead;
            margin-bottom: 0px;
        }

    }
}

@media (max-width: $screen-md-min) {
    #accountSidebar{
        display: none !important;
    }
}
