$backgroundColor: $sidebarBg;
$activeTextColor: $mainColor;
#accountSidebarContainer{

}

#accountSidebar{
    position: fixed;
    top: $navbarHeight;
    bottom: 0px;
    overflow: auto;
    background-color: $backgroundColor;
    color: $secondaryColor;
    padding: 0px 0px 0px 0px;
    font-family: AlrightSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-right: $borderWeightThick solid $borderColorThick;
    .AddAccountButton{
        text-align: center;
        padding: 10px;
    }
}

.AccountSidebarList{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    .AccountSidebarItem{
        $activeBackgroundColor: $largeClickableBg;
        $darkenPct: 10%;
        $hoverTextColor: $activeColor;

        background-color: $backgroundColor;
        font-weight: 300;
        a{
            padding: 10px 5px 10px 5px;
            text-decoration: none;
            display: block;
            background-color: inherit;
            color: $secondaryColor;
        }
        &:hover a{
            color: $hoverTextColor;
        }
        &:first-child{
            border-top: 0px solid black;
        }
        &.active a{
            background: $activeBackgroundColor;
            color: $activeTextColor;
            border-top: $borderThick;
            border-bottom: $borderThick;
            &:hover{
                
            }
        }
        .dealName, .accountName{
            display:block;
        }
        .dealName{
            @extend .lead;
            margin-bottom: 0px;
        }

    }
}
