.BetaUserWelcome{
    padding-top: 25px;
    .link-container{
        margin-top: 25px;
        padding: 10px;
        word-wrap: break-word;
        border-radius: 15px;
        font-size: .8em;        
    }
}
