.BrandSettings{

}

.BrandPageForm{
    .logo-preview{
        img{
            max-width: 100%;
            max-height: 10rem;
        }
    }
    margin-bottom: 3rem;
    .collapse-button{
        &:hover{
            cursor: pointer;
        }
        font-size: 3rem;
        margin-right: 3rem;
    }

    border-bottom: $borderThick;
    padding-bottom: 3rem;
    .collapse-content{
        padding-left: 4rem;
        padding-right: 2rem;
        padding-top: 1rem;
    }

    .actions{
        display: flex;
        justify-content: space-between;
    }
}
