.DealNavMobile{
    height: 60px;

    .title{
        font-size: .8em;
    }
    .active, .active a, .active div{
        color: $activeColorAlt;
    }

    > div{
        border-bottom: 4px solid transparent;
        padding-bottom: 12px;
        &.active{
            border-color: $activeColorAlt;
        }
    }
    a{
        color:  $nav-mobile-default-color;
        &:hover{
            text-decoration: none;
            color: $activeColorAlt;
        }
    }
}
