.DealPageBottom {
    display: flex;
    flex-direction: row;
    $messagePaddingRight: 15px;

    .commentsSection{
        display: flex;
        flex-direction: column;
        .messagesContainer{
            flex: 1;
            overflow: auto;
            overflow-scrolling: touch;
            -webkit-overflow-scrolling: touch;
            margin-bottom: 20px;
        }
        .addCommentContainer{
            flex: 0;
            padding: 0px 0px 0px 0px;
            background-color: white;
            .input-group{
                position:relative;
                top: -20px;
            }
            textarea:focus{
                border-color: $input-border;
            }
        }
    }

    .FixedSidebar{
        padding: 0 15px 15px 15px;
        width: 450px;
        overflow-y: scroll;
    }
}
