.DealNavMobile{
    height: 60px;
    .title{
        font-size: .8em;
    }
    .active, .active a, .active div{
        color: $activeColorAlt;
    }
    a{
        color:  $nav-mobile-default-color;
        &:hover{
            text-decoration: none;
            color: $activeColorAlt;
        }
    }
}
