$textColor: $mainColor;
.deal-top{
    background: $dealPageContainerBg;
    color: $textColor;
}

.DealProfile{
    margin-bottom: 10px;
    padding: 10px 0px 10px 0px;
    .widget{
        .budget-high{
            color: green;
        }
        .budget-low{
            color: red;
        }

        .title{
            font-size: 1.5em;
        }
        .widgetLink, a{
            text-decoration: none;
            color: $textColor;
            &:visited{
                text-decoration: none;
            }
            &.active, &.active a{
                color: $activeColor;
                border-color: $activeBorderColor;
            }
        }

        .widgetLink{
            > a{
                background-color: $largeClickableBg;
                border: $borderWeightThick solid $borderColorThick;
                border-radius: 10px;
                padding: 20px;
                display: inline-block;
                &:hover{
                    color:  $activeColor;
                    border-color: $activeBorderColor;
                }
            }

            &.active > a{
                background-color: $activeBg;
            }
        }
    }
}
