.Deal{
    padding-top: 15px;
    background-color: $dealPageContainerBg;
    h1{
        font-size: 1.5em;
    }
}

.RoostNav{
    .roost-title, .account-link{
        color: $navbar-default-link-color;
        a {
            color: $navbar-default-link-color;
        }
    }
    .roost-title{
        &:hover {
            color: $navbar-default-link-color;
        }
    }
}

#dealPageContainer{
    border-bottom: $borderWeightThick solid $borderColorThick;
}
