.DocumentsSidebar{
    .DocumentDropzone{
        border: 2px dashed gray;
        padding: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    .documentContainer{
        .DocumentItem{
            padding: 10px;
            cursor: pointer;
            box-sizing: border-box;
            &:hover{
                background-color: darken($sidebarBg, 10%);
            }
            &:not(:last-child){
                border-bottom: $borderThin;
            }
            .fileIcon{
                margin-right: 10px;
                margin-top:7px;
            }
            .fileName{
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }


}
