.FixedSidebar {
  background-color: $fixedSidebarBg;
  .close {
    margin-top: 10px;
    i {
      color: $mainColor;
    }
  }
  color: $mainColor;
  border-top: $borderWeightThick solid $borderColorThick;
  border-left: $borderWeightThick solid $borderColorThick;
}
