$default-margin: 5px;

@mixin flex-group{
    display: flex;
    margin-bottom: $form-group-margin-bottom;
    > *{
        flex-grow: 1;
        @include no-margin-on-ends;
        margin: 0px $default-margin 0px $default-margin;
        @content;
    }
}

.form-inline-half{
    @include flex-group{
        width: 50%;
    };
}

.form-inline-equal{
    @include flex-group;
}
