.LandingPage{
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    $baseFontSize: 4rem;
    font-family: "Gotham Book";
    font-size: 16px;
    margin-top: -2 * $bodyPaddingTop;
    padding-top: $bodyPaddingTop;
    position: relative;
    .login{
        position: absolute;
        top: 2rem;
        right: 2rem;
        a{
            color: $white;
        }
    }

    h1{
        font-family: "Gotham Bold";
        font-size: 7rem;
        line-height: 8rem;
        margin-bottom: 5rem;
    }

    .tagline{
        font-size: $baseFontSize;
    }

    .logoContainer{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 110px;
        .logo{
            // color: #FFFFFF;
            font-weight: 200;
            margin-right: .1rem;
            display: inline-block;
            font-size: $baseFontSize * 1.5;
        }
    }

    section{
        text-align: center;
        padding-bottom: 165px;
        &:last-of-type{
            padding-bottom: 4rem;
        }
    }

    .emailContainer{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        input{
            border-radius: 15px;
            margin-right: 2rem;
            color: $roostDarkGray;
            padding: .5rem 2rem .5rem 2rem;
            width: 50rem;
            font-size: 2rem;
            &.has-error{
                color: $state-danger-text;
                border-color: $state-danger-text;
            }
        }
        .btn{
            font-family: "Gotham Bold";
            font-size: 3rem;
            border-width: 2px;
            border-radius: 15px;
            padding: 1rem 1.5rem .75rem 1.5rem;
            .fa-spinner{
                margin-left: 1rem;
            }
        }
    }

    .actionSubTextContainer{
        font-size: 2.5rem;
        &.success{
            // color: $alert-success-text;
        }
    }

    .hasMoreContainer{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        padding-bottom: 10px;
        width: 100%;
        .hasMore{
            display: flex;
            flex-direction: column;
            opacity: .2;
        }
    }


    .textInfo{
        text-align: left;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .info{
            padding: 3.5rem 7rem 3.5rem 7rem;
            width: 50%;
            font-size: 2rem;
            .title{
                font-family: "Gotham Bold";
                color: #4A4A4A;
                margin-top: 0px;
            }
            .content{
                white-space: pre-line;
                text-align: justify;
            }
        }
    }

    .heroContainer{
        margin-bottom: $baseFontSize * 2;
    }

    .background-primary{
        color: $white;
        background-color: $roostOrange;
    }

    .background-light{
        color: #9B9B9B;
        .heading{
            color: #4A4A4A;
        }
    }

    .textured{
        position: relative;
        overflow: hidden;
        z-index: 0;
        // max-height: 100vh;
        //TODO: put somethign in to solve for the "raed more".. use fixed positioning ro something
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: url("/static/images/backgrounds/texturedBg1.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            opacity: 0.4;
            z-index: -1;
        }

    }

    footer{
        font-size: 2rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        display: flex;
        justify-content: space-around;
        text-align: center;
        a{
            color: $white;
        }
    }

    section > footer {
        margin-top: 8rem;
        padding-bottom: 0px;
    }
}

@media (max-width: $screen-sm-min) {
    .LandingPage{
        .logoContainer{
            text-align: center;            
            margin-bottom: 50px;
        }

        h1{
            font-size: 3rem;
            line-height: 4rem;
        }

        .tagline{
            font-size: 2rem;
        }

        .actionSubTextContainer{
            font-size: 1.5rem;
        }

        .textInfo{
            .info{
                width: 100%;
                font-size: 2rem;
            }
        }

        section{
            padding-bottom: 65px;
        }

        footer{
            font-size: 1rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .heroContainer{
            margin-bottom: 2rem;
        }

        .emailContainer{
            flex-direction: column;
            font-size: 2rem;
            input{
                display: block;
                width: 100%;
                margin-bottom: 1rem;
            }
            .btn{
                display: block;
                width: 100%;
                font-size: 2rem;
            }
        }

        .textInfo{
            font-size: 1rem;
            .info{
                padding: 2rem;
            }
        }
    }
}
