.LandingPage{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;

    .logo{
        // color: #FFFFFF;
        font-size: 100px;
        font-weight: 300;
        text-align: center;
        margin-top: 100px;
        margin-right: .1em;
    }

}
