$nextStepBannerHeight: 60px;
@import "NextStepItem";



#NextStepsBannerContainer{
    overflow-x: auto;
    height: $nextStepBannerHeight;
    margin-bottom: 5px;

    .NextStepBannerItem{
        height: 100%;
    }


}

.AddNextStepButton{
    height: 100%;
    width: 18%;
    float:left;
    position: relative;
    .btn{
        margin-left: 10px;
        margin-top: 15px;
        // @include vertical-align();
    }
}
