$nextStepBannerHeight: 60px;
@import "NextStepItem";
$fadeSize: 50px;


#NextStepsBannerContainer{
    overflow-x: auto;
    overflow-y: hidden;
    height: $nextStepBannerHeight;
    margin-bottom: 5px;
    display:flex;
    .NextStepBannerItem{
        // height: 100%;
        flex-shrink: 1;
        position: relative;
        &.NextStepsContainer:after {
            content: "";
            position: relative;
            padding-right: $fadeSize;
        }
    }
    .CompletedStepsContainer{
        white-space: nowrap;
        > a {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .NextStepsContainer{
        flex-grow: 0;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll
    }
    .AddStepContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: "";
            text-align: left;
            position: absolute;
            bottom: 0;
            left: -$fadeSize;
            width: $fadeSize;
            height: 100%;
            background: linear-gradient(90deg,rgba(255,252,248,0),#fffcf8 100%);
            z-index: 5000;
        }
    }


}

.AddNextStepButton{
    // height: 100%;
    // width: 18%;
    // float:left;
    // position: relative;
    padding-left: 15px;
    .btn{
        // margin-left: 10px;
        // margin-top: 15px;
        // @include vertical-align();
    }
}
