$borderHeight: ($nextStepBannerHeight )/2;
$endPadding: 10px;
$completedTextColor: #80848f;
$border-radius: 10px;
.arrow-right{
    display: block;
    float: left;
    background: $nextStepsBg;
    text-align: center;
    position: relative;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: $mainColor;
    padding-left: $borderHeight;
    &.active:after{
        border-left-color: $activeBg;
    }
    &:after {
        content: "";
        border-top: $borderHeight solid transparent;
        border-bottom: $borderHeight solid transparent;
        border-left: $borderHeight solid $nextStepsBg;
        position: absolute; right: -$borderHeight; top: 0;
    }

    &:before {
        content: "";
        border-top: $borderHeight solid transparent;
        border-bottom: $borderHeight solid transparent;
        border-left: $borderHeight solid $nextStepsContainerBg;
        position: absolute; left: 0; top: 0;
    }

    &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        padding-left: 0px;
        a{
            padding-left: $endPadding;
        }

    }
    &:first-child:before {
        display: none;
    }

    &:nth-last-child(2) {
        border-top-right-radius: 10px; border-bottom-right-radius: 10px;
        a {
            padding-right: $endPadding;
        }
    }
    &:nth-last-child(2):after {
        display: none;
    }

    $numSteps: 6;
    @for $i from 0 to $numSteps {
        &:nth-child(#{$i}) {
            z-index: 100 - $i;
        }
    }

}

.NextStepSidebarItemContainer{


    .nextStepTitle{
        font-size: 1.2em;
        font-weight: bold;
    }
    .nextStepDescription{
        color: $secondaryColor;
    }
    .nextStepDueDate{
        font-size: .8em;
    }
    &:not(:last-child){
        border-bottom: $borderThin;
    }
    &:hover{
        color: $activeColor;
        cursor: pointer;
        background-color: $activeBg;
        .editButtons{
            // display: inline-block;
        }
    }
    a{
        text-decoration: none;
        color: inherit;
        padding: .5em;
        display: block;
        height: 100%;
    }
}
.NextStepItemContainer{
    width: 19%;
}

.CompletedStepsContainer{
    border-radius: $border-radius;
}
.NextStepItemContainer, .CompletedStepsContainer{
    text-align: center;
    min-width: 50px;
    height: 100%;
    float:left;
    position: relative;
    a {
        text-decoration: none;
        color: inherit;
        padding-top: .5em;
        padding-bottom: .5em;
        display: block;
        height: 100%;
    }
    .nextStepTitle{
        font-size: 1.2em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .nextStepDescription{
        color: $secondaryColor;
    }
    .nextStepDueDate{
        font-size: .8em;
    }
    &.active{
        background-color: $activeBg;
        color: $activeColor;
    }
    &:hover{
        color: $activeColor;
        cursor: pointer;
        .editButtons{
            // display: inline-block;
        }
    }

    .width-0{
        width: 0px;
    }

}

.addNextStepBannerContainer{
    padding: 20px;
}
