.OpportunityDashboard{
    .secondaryNav{
        display: flex;
        align-content: space-between;
        padding: 15px;
        > {
            align-self: center;
            h1, h2, h3, h4 {
                flex: 1 1;
                margin: 0px;
            }
            button{
                flex-grow: 0;
            }
        }
        .actions{
            display: flex;
            > button:not(:last-child){
                margin-right: 10px;
            }
        }
    }

    .OpportunitiesTable {
        tr{
            &.archived{
                background: yellow;
            }
        }
    }
}
