.left-nav-page{
    display: flex;
    flex-direction: column;
    padding: 15px;
    .page-body{
        display: flex;
        flex: 1;
        .left-nav{
            flex: 0 0 15rem;
            order: -1;
            margin-right: 2rem;
            li{
                text-align: center;
                &.active > a{
                    background-color: $roostOrange;
                }
            }
        }
        .content{
            flex: 1;
        }
    }
}


@media (max-width: $screen-sm-min) {
    .left-nav-page{
        .page-body{
            flex-wrap: wrap;
            .content{
                flex-basis: 100%;
            }
            .left-nav{
                flex: 1;
                margin-right: 0px;
            }
        }
    }
}
