.PublicProfilePage{
    .container{
        padding: 15px 15px 15px 15px;

        .profileUser{
            font-weight: bold;
        }
    }
    .loginHelp{
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
