@import "logo";
.RoostNav{
    &.transparent{
        background-color: transparent;
        color: white;
        border-bottom-color: transparent;
        .dropdown.open, .dropdown.open > a{
            background-color: transparent;
        }
    }

    &.font-light{
        color: $white;
        &.font-hover-dark{
            a:hover:not(.btn), .dropdown.open > a{
                color: $roostDarkGray;
            }
        }
    }
    &.font-dark{
        color: $roostDarkGray;
        &.navbar-default .navbar-nav > li > a{
            color: $roostDarkGray;
            &:hover:not(.btn){
                color: $roostOrange;
            }
        }
    }

    .navbar-brand{
        &:not(.roost-title){
            @extend .logo-font;
            font-size: 2em;
        }

        &:hover{
            color: $navbar-default-link-hover-color;
            .logo-chicken{
                fill: $navbar-default-link-hover-color;
            }
        }
        display: flex;
        justify-content: center;

        .logo-chicken{
            fill: $navbar-default-link-color;
        }
        > svg{
            display: inline;
            max-height: 100%;
            width: 40px;
        }
    }
    .navbar-btn.navbar-right{
        margin-right: 0px;
    }

    .accountLink{
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
}

@media (max-width: $screen-sm-min){
    .RoostNav{
        &.transparent, &.font-hover-dark, &.font-hover-light{
            .navbar-collapse{
                background-color: $navbar-default-bg;
                a:hover:not(.btn), .dropdown.open > a{
                    color: $roostOrange;
                }
            }
        }
    }
}
