@import "logo";
.RoostNav{
    .navbar-brand{
        &:not(.roost-title){
            @extend .logo-font;
            font-size: 2em;
        }

        &:hover{
            color: $navbar-default-link-hover-color;
            .logo-chicken{
                fill: $navbar-default-link-hover-color;
            }
        }
        display: flex;
        justify-content: center;

        .logo-chicken{
            fill: $navbar-default-link-color;
        }
        > svg{
            display: inline;
            max-height: 100%;
            width: 40px;
        }
    }
    .navbar-btn.navbar-right{
        margin-right: 0px;
    }

    .accountLink{
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
}
