.SettingsPage{
    padding-top: 20px;
    .contents{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.CompanySettingsPage{
    .departmentContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .DepartmentCard{
            border: $borderThick;
            width: 32%;
            min-height: 4rem;
            margin-bottom: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title{
                display: block;
                text-align: center;
                padding: 5px;
                font-size: 1.1em;
                border-bottom: $borderThin;
                margin-bottom: 5px;
                background-color: $roostDarkGray;
                color: $white;
            }
            .details, .actions{
                padding: 1rem;
            }

        }
    }
}

.BasicInfoDisplay{
    .fieldContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > .form-group{
            width: 50%;
            min-width: 20rem;
        }
    }
    .editButton{
        min-width: 20rem;
    }
}

@media (max-width: $screen-sm-min) {
    .BasicInfoDisplay{
        .editButton{
            width: 100%;
        }
    }
}
