.TermsOfServicePage{
    h1{
        text-transform: uppercase;
        margin-top: 2em;
        font-size: 2em;
        text-align: center;
    }
    margin-bottom: 200px;
}

.TermsOfService{
    .number, .heading{
        font-weight: bold;
        margin-right: .5em;
    }
    text-align: justify;

}
