
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <title>One Roost - Welcome</title>

  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="../css/construction/coming-sssoon.css" rel="stylesheet" />

  <!--     Fonts     -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="../favicon.ico"/>

</head>

<body>

<div class="main" style="background-image: url('images/construction/mountain-lake-with-clear-water.jpg')">

  <!--    Change the image source 'images/construction/rick.jpg' with your favourite image.     -->

  <div class="cover black" data-color="black"></div>

  <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

  <div class="container">
    <h1 class="logo cursive">
      OneRoost
    </h1>
    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

    <div class="content">
      <h4 class="motto" id="mottoText"></h4>
      <div class="subscribe">
        <h5 class="info-text" id="infoText"></h5>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
            <form role="form"  action="//oneroost.us11.list-manage.com/subscribe/post?u=e7514b8a3c774c54e108d2fda&amp;id=80640b32c4"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate >
            <div id="mc_embed_signup_scroll">
              <div class="form-group">
                <label class="sr-only" for="emailInput">Email address</label>
                <input type="email" class="form-control transparent" name="EMAIL" id="emailInput" placeholder="Your email here...">
              </div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_e7514b8a3c774c54e108d2fda_80640b32c4" tabindex="-1" value=""></div>

              <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-fill hidden">Notify Me</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
</div>
</div>
</body>
<% include config.ejs %>
<script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script data-main="../js/construction" src="../lib/require.js"></script>
</html>
