<div>
    <p>
        {{firstName}} {{lastName}} uploaded a new document on <i>{{dealName}}</i>
    </p>

    <p class="document">{{documentName}}</p>
</div>
<div>
    {{>roost-link-html}}
</div>
{{>footer-html}}
