$bootstrap-sass-asset-helper: true;
// @import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$gmailHoverColor: #dddddd;
@import "./sass-resources";
@import "./bootstrap-custom/custom";
@import "./google";
@import "./popup";
html, body{
    // font-size: 100%;
}
.ThreadViewApp{
    background-color: yellow;
    .ThreadView{
        height: 100%;
        background: lightblue;
        .subject{
            font-weight: bold;
            color: $roostOrange;
        }
        .message-body{
            white-space: pre-line;
        }
    }
}

.form-group{
    display: flex;
    flex-direction: column;
    input.form-control{
        padding: 0 12;
        width: auto;
    }
}

#popup_app{
    width: 300px;
    min-height: 10rem;
}

.RedirectDropdownView{
    padding: 10px 0 0 0;
    .title{
        font-weight: bold;
        padding: 5px;
    }
    ul.vanityUrls{
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            padding: 10px;
            text-decoration: none;
            margin: 0px;
            &:hover{
                cursor: pointer;
                background-color: $gmailHoverColor;
            }
            &:not(:first-child){
                // border-top: 1px solid darkgray;
            }
        }
    }
}

#image_preload{
    display: none;
    position: fixed;
    top: -99999px;
    left: -9999px;
}

h1,h2,h3,h4,h5{
    margin: 0 0 .5rem 0;
    padding: 0;
}

ul.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
.link{
    cursor: pointer;
    color: $roostOrange;
    text-decoration: none;
    &-secondary{
        color: $link-color;
    }
    &:hover{
        color: $roostDarkGray;
    }
}
