<div>
    {{formatUserName invitedBy}} at {{invitedBy.company}} would like you join {{dealName}}. To join the Roost and participate in the opportunity, accept the invitation below! 
</div>
<div>
    <a href={{inviteLink}} class="btn btn-primary roostLink">Accept Invitation</a>
</div>
{{>footer-html}}
