<div>
    Hi {{formatUserName user}}, <br/>
    Welcome to OneRoost! Please verify your email address by clicking the button below: <br/>
    <a href="{{link}}" class="btn btn-primary roostLink">Confirm My Email</a>
</div>

{{>footer-html}}
