<div>
    Hi {{formatUserName user}}, <br/>
    Please verify your email address by clicking the button below: <br/>
    <a href="{{link}}" class="btn btn-primary roostLink">Very My Email</a>
</div>

{{>footer-html}}
