<div>
    {{authorName}} left a new message on <i>{{dealName}}</i>
    <blockquote>
        <p class="message">{{message}}</p>
    </blockquote>
    <a href="{{dealLink}}">View the Roost</a>
</div>
{{>footer-html}}
