<div>
    <p class="lead">
        {{authorName}} left a new message on <i>{{dealName}}</i>
    </p>
    <blockquote>
        <p class="message">{{message}}</p>
    </blockquote>
    {{>roost-link-html}}
</div>
{{>footer-html}}
