<div>
    <p class="lead">
        {{formatUserName author}} at {{{author.company}}} submitted a message
    </p>
    <blockquote>
        <p class="message">{{message}}</p>
    </blockquote>
    {{>roost-link-html}}
</div>
{{>footer-html}}
