<div>
    {{invitedByName}} ({{invitedByEmail}}) has invited you to participate in the deal {{dealName}}.
</div>
<div>
    <a href={{inviteLink}} class="btn btn-primary roostLink">Accept Invitation</a>
</div>
{{>footer-html}}
