// $fa-font-path: "./fonts";
$bootstrap-sass-asset-helper: true;
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./sass-resources";


@import "mixins";
@import "variables";
@import "fonts";


// @import "~bootstrap";
@import "bootstrap-custom/custom";
// @import "~font-awesome";

// @import "~sass-material-colors";
// @import "~sass-material-colors-classes";
// @import "~sass-material-colors-placeholders";

@import "~react-select/scss/default.scss";

@import "components";


body {
  padding-top: 50px;
  background-color: $globalBg;
}

.label {
  margin-left: 10px;
}

.hidden {
  display: none;
}

h1 {
  margin-top: 0px;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.link{
    cursor: pointer;
    color: $roostOrange;
    text-decoration: none;
    &:hover{
        color: $roostDarkGray;
    }
}

*{
    -webkit-overflow-scrolling: touch;
}

a{
    color: $activeColor;
    &:hover{
        color: $mainColor;
    }
}
