// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$bootstrap-sass-asset-helper: true;
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./sass-resources";


body{
    color: blue;
}

p{
    @extend .lead;
}
