@import "sass-material-colors";
$dealPageContainerBg: #094162;
$fixedSidebarBg: #0c5582;

$navbarHeight: 50px;
$nextStepsContainerBg: $dealPageContainerBg;
$nextStepsBg: material-color("amber", "700");
