<div class="wrapper">    
    <div>
        <b>Deal Name:</b><br/>
        {{deal.dealName}}
    </div>
    <div>
        <b>Submitted By:</b><br/>
        {{currentUser.firstName}}&nbsp;{{currentUser.lastName}}
    </div>
    <div>
        <b>Description:</b><br/>
        {{deal.description}}
    </div>
</div>
