@import "common";
 .wrapper{
     > *{
         margin-bottom: 15px;
     }
 }

p.form-control-static{
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: auto;
}
.company{
    font-style: italic;
}
